.editor-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;;
  .header {
    width: 100%;
    height: 40px;
    background: #333;
  }
  .editor {
    flex:1;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    :global(.wmde-markdown-var){
      height: 100%!important;
    }
    :global(.w-md-editor-content){
      height: 100%!important;
    }
  }
}

.menu {
  position: absolute;
  right: 0;
  top: 40px;
  width: 20vw;
  height: 100%;
  background: #fff;
}